.button{
    color: white;
    height: 56px;
    border: none;
    font-family: Arial;
    font-size: 16px;
    margin-right:12px;
    font-weight: bold;
    border-radius: 0;
}
.button1{
    margin-right: 0;
}
.nav_bar{
    height: 56px;
    background-color: #000000;
    color: white;
}
#logo{
    position: absolute;
    float: left;
    margin-left: 30px;
    z-index: 3000;
    overflow: visible;
}
/*#header_right{*/
    /*width: 78%;*/
    /*overflow: hidden;*/
    /*margin: 0;*/
    /*margin-left: 18%;*/
/*}*/
/*#header_right_content{*/
    /*float: left;*/
    /*height: 83px;*/
    /*margin: 40px 0 0 40px;*/

/*}*/
.title{
    float: left;
    font-size: 50px;
    color: #fff;
    font-family: Impact;
}
.header_right_subtitle{
    clear: left;
    height: 41px;
    background-color: royalblue;
    border-radius: 15px 15px 0 0;
}
.subtitle{
    float: left;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 3px;
}
.comanda{
    height: 42px;
    margin-right: 10px;
    background-color: darkblue;
    border-radius: 0;
    font-size: 18px;
}
.links{
    background-color: royalblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.fieldset {
    border:2px solid #2E275B;
    padding: 1em;
    font:80%/1 sans-serif;
}

.legend {
    padding: 0.2em 0.5em;
    width: 90px;
    color:#2E275B;
    font-size: 16px;
}